:root {
  /* Color */
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --blue: hsl(212, 86%, 64%);
  --orange: hsl(34, 97%, 64%); /* Tpografi */
  --ff: "Poppins", sans-serif;
  --fs-1: 2.25rem; /* Poppins Semibold */
  --fs-2: 2.25rem; /* Poppins Extra Light */
  --fs-3: 1.25rem;
  --fs-4: 0.9375rem; /* Poppins Regular */
  --fs-5: 0.8125rem;
  --line-height: 1.4;
  --line-height-2: 1.6;
  --line-height-1: 1.35;
  --letter-spacing: 0.007em;
  --letter-spacing-1: 0;
  --radius: 0.5rem;
  --shadow-50: 0 4px 4px rgba(0, 0, 0, 0.25);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ff);
}
body {
  min-height: 100svh;
  display: grid;
  grid-template-rows: 1fr;
}
.container {
  width: 69.625rem;
  display: grid;
  justify-content: center;
  place-self: center;
  gap: 2rem;
}
.title-wrapper {
  text-align: center;
}
.title-wrapper h1 {
  margin: 0;
  padding: 0;
  font-size: var(--fs-2);
  color: var(--grey-500);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  font-weight: 200;
}
.title-wrapper h2 {
  font-size: var(--fs-1);
  color: var(--grey-500);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  font-weight: 600;
}
.title-wrapper p {
  font-size: var(--fs-4);
  color: var(--grey-500);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing-1);
  font-weight: 400;
}
.card-wrapper {
  display: grid;
  gap: 2rem;
}
.card {
  width: 21.875rem;
  height: 15.625rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow-50);
  align-self: center;
  padding: 2rem;
  overflow: hidden;
}

.card h3 {
  font-size: var(--fs-3);
  color: var(--grey-500);
  line-height: var(--line-height-1);
  font-weight: 600;
}
.card p {
  font-size: var(--fs-5);
  color: var(--grey-400);
  line-height: var(--line-height-2);
  font-weight: 200;
}
.card figure {
  display: grid;
  justify-content: end;
}

.card-supervisor {
  display: grid;
  grid-column: 1;
  grid-row: 1 / span 2;
  border-top: 2px solid var(--cyan);
}

.card-team {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  border-top: 2px solid var(--red);
  justify-self: center;
}
.card-calculator {
  display: grid;
  grid-column: 3;
  grid-row: 1 / span 2;
  border-top: 2px solid var(--blue);
}
.card-karma {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  border-top: 2px solid var(--orange);
}

@media (width < 45rem) {
  .container {
    width: 19.75rem;
    display: grid;
    padding: 2rem;
  }
  .title-wrapper h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: var(--grey-500);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    font-weight: 200;
  }
  .title-wrapper h2 {
    font-size: 1.5rem;
    color: var(--grey-500);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    font-weight: 600;
  }
  .card {
    width: 19.625rem;
    height: 15.625rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow-50);
    align-self: center;
    padding: 2rem;
  }

  .card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
  }

  .card-supervisor {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    border-top: 2px solid var(--cyan);
  }

  .card-team {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    border-top: 2px solid var(--red);
  }
  .card-calculator {
    display: grid;
    grid-column: 1;
    grid-row: 4;
    border-top: 2px solid var(--blue);
    align-self: center;
  }
  .card-karma {
    display: grid;
    grid-column: 1;
    grid-row: 3;
    border-top: 2px solid var(--orange);
  }
}
@media (45rem<= width < 69.625rem) {
  .container {
    width: 45rem;
  }

  .card {
    max-width: 19.625rem;
    max-height: 15.625rem;
  }
  .card-wrapper {
    width: 41.25rem;
  }

  .card-supervisor {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    border-top: 2px solid var(--cyan);
    align-self: center;
    justify-self: end;
  }

  .card-team {
    display: grid;
    grid-column: 2 / span 2;
    grid-row: 1;
    border-top: 2px solid var(--red);
    justify-self: center;
    align-self: center;
  }
  .card-calculator {
    display: grid;
    grid-column: 2 / span 2;
    grid-row: 3;
    border-top: 2px solid var(--blue);
    justify-self: center;
    align-self: center;
  }
  .card-karma {
    display: grid;
    grid-column: 3;
    grid-row: 2;
    border-top: 2px solid var(--orange);
  }
}
